body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  padding: 0 20px 100px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.title {
  text-align: center;
  margin-bottom: 0;
}
.title span {
  display: block;
  font-size: 70%;
}
.title-sign {
  text-align: center;
  font-size: 15px;
  margin: 10px;
  font-weight: normal;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.list {
  list-style: none;
  column-count: 3;
  column-gap: 20px;
  padding: 0;
}

.list--item {
  border: 1px solid rgba(55, 55, 55, 0.04);
  height: auto;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 20px;
  border-bottom: 2px solid gray;
  padding: 10px;
  margin: 0 0 5px 0;
}

.shortcuts {
  list-style: none;
  padding: 0;
}
.shortcuts--item {
  display: flex;
  padding: 8px 10px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.shortcuts--item:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}
.shortcuts--item:nth-child(odd):hover {
  background-color: #bde9ff;
}
.shortcuts--item:nth-child(even):hover {
  background-color: #bde9ff;
}
.shortcuts--item::before {
  content: '';
  height: calc(100% - 4px);
  width: 5px;
  left: -7px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 2px;
}
.shortcuts--item[data-tp]::before {
  background-color: #028cd0;
}

.command-title {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  padding-left: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.without-command .command-title::before {
  display: none;
}
.without-command .command-title {
  padding-left: 10px;
}
.command-title i:nth-of-type(1) {
  margin-left: 10px;
}
.command-title i:nth-of-type(2) {
  margin-right: 10px;
}

.command-title::before {
  content: '';
  position: absolute;
  left: -5px;
  top: 50%;
  width: 10px;
  height: 2px;
  margin-top: -1px;
  background-color: black;
}

.command-title sup {
  position: relative;
  top: -4px;
}

.command {
  font-size: 13px;
  padding-right: 20px;
  width: 180px;
  min-width: 180px;
  word-spacing: -2px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.arrow-down,
.arrow-up {
  display: block;
  width: 2px;
  height: 10px;
  background-color: black;
  margin: 0 5px;
  position: relative;
}

.arrow-down::before,
.arrow-up::before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  left: -2px;
  transform-origin: center center;
  transform: rotate(45deg);
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.arrow-down::before {
  top: auto;
  bottom: 0;
  border: 0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.arrow-left,
.arrow-right {
  display: block;
  height: 2px;
  width: 15px;
  background-color: black;
  margin: 0 5px;
  position: relative;
}

.arrow-left::before,
.arrow-right::before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  top: -2px;
  left: -1px;
  transform-origin: center center;
  transform: rotate(-45deg);
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.arrow-right::before {
  bottom: 0;
  border: 0;
  right: 0;
  left: auto;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.mouse {
  display: block;
  border: 1px solid black;
  height: 18px;
  width: 12px;
  margin: 0 5px;
  border-radius: 5px;
  position: relative;
}
.mouse span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 60%;
  background-color: black;
  border-top-left-radius: 4px;
}
.mouse span::before {
  content: '';
  width: 200%;
  height: 1px;
  background-color: black;
  bottom: 0;
  left: 0;
  z-index: 2;
  position: absolute;
}
.mouse::before {
  content: '';
  width: 7px;
  height: 10px;
  top: -5px;
  left: -5px;
  z-index: 2;
  position: absolute;
  border-top-left-radius: 8px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.mouse::after {
  content: '';
  width: 5px;
  height: 7px;
  top: -3px;
  left: -3px;
  z-index: 2;
  position: absolute;
  border-top-left-radius: 8px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.marker {
  width: 4px;
  height: 20px;
  position: relative;
  display: inline-block;
  margin: 0 4px;
  background-color: rgba(0, 0, 0, 0.1);
}
.marker.m {
  background-color: #028cd0;
}

.can-copy {
  position: relative;
}

.can-copy::before {
  content: '!';
  color: #028cd0;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  border: 2px solid #028cd0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
  box-sizing: content-box;
}

.success {
  padding: 15px 20px;
  height: 80px;
  background-color: #fff;
  border: 3px solid rgba(235, 235, 235, 0.8);
  line-height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: auto;
  opacity: 1 !important;
  background-color: #028cd0;
  color: #fff;
  transform: translate(-300%, 0);
  transition: transform 0.3s ease;
}
.success.is-active {
  transform: translate(0, 0);
}
.success span {
  display: block;
  width: 100%;
}


@media(max-width: 1600px) {
  .list {
    column-count: 2;
  }
  .container {
    width: 1050px;
  }
}
@media(max-width: 1100px) {
  .list {
    column-count: 1;
  }
  .container {
    width: 500px;
  }
  .can-copy::before {
    display: none;
  }
}
@media(max-width: 550px) {
  .container {
    width: 100%;
  }
  .title, .subtitle {
    font-size: 18px;
  }
  .title-sign, body {
    font-size: 12px;
  }
  .command-title {
    font-size: 13px;
    padding-left: 0;
  }
  .command-title::before {
    display: none;
  }
  .list--item {
    width: 100%;
  }
}
@media(max-width: 400px) {
  .command {
    width: 100px;
    min-width: 100px;
    white-space: normal;
  }
}